@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap');

/* Universal Classes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --light-blue-color: #2294ed;
    --dark-blue-color: #0061ad;
    --background-light-color: #b9cde4;
    --background-dark-color: #183b56;
    --padding: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3rem;
    color: var(--primary-text-color);
}

h2 {
    font-size: 2rem;
    color: var(--primary-text-color);
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 12px;
    font-weight: 300;
    margin-left: 50px;
    margin-top: 10px;
}

h5 {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

h6 {
    font-size: 0.875rem;
    color: var(--secondary-text-color);
    font-weight: 400;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* Utility Classes */

.small-bold-text {
    font-size: 0.8rem;
    font-weight: 400;
}

.container {
    max-width: 1220px;
    margin-inline: auto;
    padding-inline: var(--padding);
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: var(--primary-text-color);

}

.hover-link:hover {
    color: var(--light-blue-color);
    transition: 0.2s ease-out;
}

.primary-button {
    background-color: var(--light-blue-color);
    color: white !important;
    border-radius: 5px;
    font-weight: 500;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover {
    background-color: var(--dark-blue-color);
}

.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    color: var(--primary-text-color) !important;
    border-radius: 5px;
    font-weight: 500;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover {
    color: var(--light-blue-color) !important;
    border-color: var(--light-blue-color) !important;
}

/* Top Nav Section */

.nav-top-section {
    background-color: #4dadf7;
    background-image: url(/images/background-shadow-image.png);
    background-size: 300px;
    /* background-repeat: repeat; */
}

.nav-top-section-text {
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 0.875rem;
}

/* Nav Bar */

.main-nav {
    margin-top: 20px;
    justify-content: space-between;
}

.website-logo img {
    width: 180px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

/* Header Section */

header {
    padding: 40px;
}

.header-section {
    justify-content: center;
    gap: 50px;
}

.header-left {
    max-width: 40vw;
}

/* .header-left h1{
    margin-top: 20px;
} */

.header-button {
    margin-top: 50px;
    padding: 12px 80px !important;
}

.header-right img {
    width: 600px;
}

/* Companies Section */

.companies-header-text {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

.logo {
    height: 45px;
}

.godaddy {
    height: 30px !important;
}

.logos {
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
}

/* Features Section */

.features-section {
    margin-top: 110px;
    margin-bottom: 100px;
    background-image: url(images/background-shape-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.right-arrow {
    color: var(--light-blue-color);
    font-weight: bold;
}

.features-header-button-size {
    width: auto;
}

.features-header-text {
    text-align: center;
}

.features-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.features-card {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

.features-card img {
    height: 40px;
}

.features-area {
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
}

/* Professionals Section */

.design-professionals-image {
    width: 40vw;
}

.design-professionals-image img {
    width: 90%;
}

.design-professionals {
    justify-content: center;
}

.content-area {
    width: 30vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.middle-logo {
    height: 30px;
}

.middle-logo img {
    height: 100%;
}

.credit-area {
    gap: 10px;
}

.credit-image {
    height: 50px;
}

.credit-image img {
    height: 100%;
}

.content-area-2 {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.quotation-mark {
    background-image: url(images/opening-inverted-commas.svg);
    background-repeat: no-repeat;
}

.second-image {
    padding-left: 40px;
}

/* Examples Section */

.examples-section {
    margin-top: 40px;
}

.examples-header-text {
    text-align: center;
}

.examples-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.examples-header-button-size {
    width: auto;
}

.examples-area {
    justify-content: space-between;
    margin-block: 30px;
}

.examples-card {
    width: 23%;
    position: relative;
    min-height: 300px;
    background-color: black;
    color: white;
    line-height: 1.8rem;
    transition: 0.2s ease-out;
}

.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.examples-card:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(images/example-image-1.jpeg);
    background-size: cover;
}

.examples-card:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(images/example-image-2.jpeg);
    background-size: cover;
}

.examples-card:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(images/example-image-3.jpeg);
    background-size: cover;
}

.examples-card:nth-child(4) {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(images/example-image-4.jpeg);
    background-size: cover;
}

.examples-card:hover {
    box-shadow: 0 0 10px #888;
}

.cta-section {
    padding: 120px;
    background-color: #183b54;
}

.cta-section-container {
    flex-direction: column;
    gap: 30px;
}

.cta-section-container p {
    color: white;
}

.cta-section-container h2 {
    color: white;
}

.footer {
    background-color: #EBF2FA;
    padding: 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-logo img {
    width: 150px;
}

.footer-urls-1 {
    display: flex;
    flex-direction: column;
}

.footer-urls-1 p {
    color: #183B56;
    font-weight: 500;
    padding-bottom: 18px;
}

.footer-urls-1 a {
    padding-bottom: 8px;
    color: #888;
}

.footer-bottom-section {
    background-color: #B9CDE4;
    display: flex;
    align-items: center;
    padding-block: 20px;
    gap: 100px;
    justify-content: center;
}

.page-links a {
    color: #183b54;
    padding-right: 20px;
}

.page-links a:hover {
    color: #2294ed;
}

.footer-urls-1 a {
    color: #183b54;
}

.footer-urls-1 a:hover {
    color: #2294ed;
}

.social-icons i {
    color: #183b54b7;
    font-size: 20px;
    padding-right: 20px;
}

.social-icons i:hover {
    color: #2294ed;
}